/* Styles for the full-width navigation bar */
.full-width-nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 999;
  }
  
  .full-width-nav .left-icon img {
    width: 30px; 
    height: 30px;
  }
  
  .full-width-nav .right-nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%; 
  }
  
  .full-width-nav .right-nav li {
    margin-left: 20px; 
    padding: 0 50px;
}
  
  .full-width-nav .right-nav li:first-child {
    margin-left: 0; 
  }
  
  .full-width-nav .right-nav a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Media query to adjust navigation bar on smaller screens */
  @media screen and (max-width: 768px) {
    .full-width-nav .right-nav {
      display: none;
    }
  }
  