/* Reset some default styles for better consistency */
*{
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #333;
    line-height: 1.6;
    overflow:visible;
}



/* Right Image styles */
.right-image {
    position: absolute;
    float: right;
    right: 0;
    left: 50%;
    width: 70%;
    margin-top: -40%;
    margin-bottom:-5%;
    margin-left: 2%;
    height: auto;
    z-index: 0; /* Place it above the water waves */
    overflow: visible;
}
.water-waves {
    position: absolute;
    left: 0;
    top: 80%;
    width: auto;
    height: auto;
    z-index: -1; /* Place it behind other content in the section */
}

/* What We Do Section styles */
.what-we-do {
    /* background-color: #f0f0f0; Set background color for the entire section */
    padding: 30px;
    margin-top: 15px;
    z-index:0;

}


/* Left Content styles */
.what-we-do h2 {
    font-size: 4.5rem;
    padding: 20px;
    z-index:3;
    color: #fff;s
    z-index:5;
    margin-top: 5%;
}


/* Categories by Deal Section styles */
.categories {
    /* background-color: #f0f0f0; */
    padding: 40px;
    text-align: center;
}
.what-we-do-text1{
    font-size: 2rem;
    display: inline-block;
    color: #000000;
    background-color:#fff;
    border-radius: 10px;
    width: 48%;
    margin-top: 45px;
    margin-bottom: -15px;
    padding-bottom: 15px;

}
.what-we-do-text1 p{
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.what-we-do-text2{
    font-size: 2rem;
    display: inline-block;
    color: #000000;
    background-color:#fff;
    border-radius: 10px;
    margin-top: -50px;
    padding: 0px;

}
.what-we-do-text2 p{
    padding: 20px;
    padding-top: 0;
    margin-top: 0;
}


/* Categories by Deal Section styles */
.categories {
    text-align: center;
    padding: 20px;
}

.categories h2 {
    font-size: 5rem;
    margin-bottom: 3rem;
    padding: 40px;
    color:#fff;
}

.boxes{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
}
/* Category Card styles */
.category-card {
    display: inline-block;
    width: 400px; /* Adjust the width as needed */
    height: 700px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.category-image {
    height: 700px; /* Set the height of the background image */
    background-size: cover;
    background-position: center;
    text-align: left;
}

.category-card h3 {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 30px;
    background-color: rgba(255, 255, 255, 0.7); /* Background color for label */
    color: #000000;
    padding: 20px;
    margin: 0;
    font-size: 2.5rem;
}

/* Experience the Thrill Section styles */
.experience-thrill {
    text-align: center;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#fff;
}

.experience-thrill h2 {
    font-size: 5rem;
    margin-bottom: 20px;
}

.experience-note {
    font-size: 2rem;
    margin-bottom: 40px;
}

/* Activity Collage styles using CSS Grid */
.activity-collage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three columns */
    grid-template-rows: repeat(2, 1fr); /* Two rows */
    /* width: 80vh; Set a maximum width for the collage */
    gap: 0;
    width: 100%;
    height: auto;
}

.activity-card {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.activity-card img {
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.full-height {
    grid-row: span 2; /* Two rows height */
}

.half-height {
    grid-column: 2; /* One column width */
    grid-row: span 1; /* One row height */
}

/* Define the second row for the third image */
.activity-card.second-row {
    grid-row: 2 / 3; /* Start at the second row and end at the third row */
}




/* Best Sellers Carousel styles */
.best-sellers {
    text-align: center;
    padding: 80px;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.best-sellers h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

/* Additional CSS styles for card and carousel */
.carousel {
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .card {
    width: 23%; /* Adjust the card width as needed */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    margin-right: 20px; /* Margin between cards */
  }
  
  .card:last-child {
    margin-right: 0; /* Remove margin for the last card */
  }
  
/* Define a CSS class for adding a shadow */
.shadow {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Change the values as needed */
  }
  
  .card-label {
    background-color: rgba(0, 192, 118, 0.8);
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 10px;
    padding: 5px 100px;
  border-radius: 0 15px 15px 0;
  z-index: 4;
  }
  
  .card-bg {
    position: relative;
    overflow: hidden;
  }
  
  .card-bg img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .card-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.2), transparent); /* Create a vignette effect */
  }
  
  .card-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 20px 30px;
    border-radius: 0 0 10px 10px;
    text-align: left;
    background: linear-gradient(rgba(0, 0, 0, 0.7) 65.97%, rgba(0, 0, 0, 0.3));
    color: #fff;
  }
  
  .card h3 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .card p {
    font-size: 1rem;
    margin: 5px 0;
  }
  
